/* Reset basique */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #B5CE88;
  color: #333;
}

header {
  background-color: #B5CE88
  color: white;
  padding: 20px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

header nav ul li {
  margin: 0 15px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
}

.intro {
  text-align: center;
  margin-bottom: 40px;
}

.liste-jeux {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.liste-jeux article {
  background-color: #e9dbc2;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #b5CE88;
  color: white;
  margin-top: 40px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.image-jeux {
    display: flex;
}